Repository coco-bl/terraform-azure-infra: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-network.yml, azure-pipelines-resource_group.yml, azure-pipelines-storage_account.yml

azure-pipelines-network.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Deploy_Network
    jobs:
    - job: Terraform
      steps:
      - task: TerraformInstaller@0
        inputs:
          terraformVersion: latest
      - task: TerraformTaskV4@0
        displayName: Terraform Init
        inputs:
          provider: azurerm
  ...

azure-pipelines-resource_group.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Deploy_Resource_Group
    displayName: Deploy Resource Group
    jobs:
    - job: Terraform
      displayName: Terraform for Resource Group
      steps:
      - task: TerraformInstaller@0
        displayName: Install Terraform
        inputs:
  ...

azure-pipelines-storage_account.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Deploy_Storage
    displayName: Deploy Storage Account
    jobs:
    - job: Terraform
      displayName: Terraform for Storage Account
      steps:
      - task: TerraformInstaller@0
        displayName: Install Terraform
        inputs:
  ...

fix: Update Terraform tasks in Azure pipeline for consistency and correct versioning
  azure-pipelines-network.yml
Due: none

fix: Update display names and correct Terraform installer task in network pipeline
  azure-pipelines-network.yml
Due: none

fix: Update environment service name in Terraform Apply step for consistency
  azure-pipelines-network.yml
Due: none

fix: Update environment service name in Terraform Plan and Apply steps for consistency
  azure-pipelines-network.yml
Due: none

fix: Add missing dependency for virtual network module to ensure resource group creation
  network/main.tf
Due: azure-pipelines-network.yml

fix: Correct dependency reference for virtual network module to ensure proper resource group association
  network/main.tf
Due: azure-pipelines-network.yml

fix: Add app service deployment pipeline with Terraform tasks for initialization, validation, planning, and applying
  azure-pipelines-app_service.yml
  azure-pipelines-resource_group.yml
  azure-pipelines-storage_account.yml
Due: none

Refactor code structure for improved readability and maintainability
  images/appservice.PNG
  images/backend.PNG
  images/networkresources.PNG
Due: none

Implement feature X to enhance user experience and fix bug Y in module Z
  images/pipeline.PNG
Due: none

Update README.md
  README.md
Due: none

Fix image link in README.md to include network resources screenshot
  README.md
Due: none

Fix formatting of image links in README.md for Azure Portal Resources section
  README.md
Due: none

Refactor screenshot section in README.md for clarity and organization
  README.md
Due: none

Update README.md to improve screenshot layout for Network Resources and Backend Storage
  README.md
Due: none

Update resource group configuration and outputs for consistency
  resource_group/dev.tfvars
  resource_group/outputs.tf
  resource_group/variables.tf
Due: azure-pipelines-resource_group.yml

Refactor storage account and container resource names for consistency
  modules/storage_account/main.tf
  modules/storage_account/outputs.tf
  modules/storage_account/variables.tf
  storage_account/dev.tfvars
  storage_account/outputs.tf
  storage_account/variables.tf
Due: azure-pipelines-storage_account.yml

Add workspace_id variable and integrate it into application insights resource
  app_service/dev.tfvars
  app_service/variables.tf
  modules/app_service/main.tf
  modules/app_service/variables.tf
Due: none

Fix module source path for storage account configuration
  storage_account/main.tf
Due: azure-pipelines-storage_account.yml

Fix storage account replication type reference and update storage container name reference
  modules/storage_account/.terraform.lock.hcl
  modules/storage_account/main.tf
  storage_account/provider.tf
Due: azure-pipelines-storage_account.yml

Fix indentation for storage account name reference in storage container resource
  modules/storage_account/main.tf
Due: azure-pipelines-storage_account.yml

Refactor storage account module to use a map for storage accounts and update variable definitions for improved clarity and consistency
  app_service/main.tf
  modules/storage_account/main.tf
  modules/storage_account/variables.tf
  storage_account/.terraform.lock.hcl
  storage_account/dev.tfvars
  storage_account/main.tf
  storage_account/outputs.tf
  storage_account/variables.tf
Due: azure-pipelines-storage_account.yml

Fix workspace_id reference to point to the correct resource group and workspace
  app_service/dev.tfvars
Due: none

Rename resource_group variable to resource_group_name for consistency in storage account configuration
  storage_account/dev.tfvars
  storage_account/variables.tf
Due: azure-pipelines-storage_account.yml

Refactor resource group configuration to use a map structure for improved organization and clarity
  resource_group/dev.tfvars
  resource_group/main.tf
  resource_group/outputs.tf
  resource_group/variables.tf
Due: azure-pipelines-resource_group.yml

Enhance storage account module by adding account replication type and container access type variables, and refactor resource group configuration for clarity.
  modules/storage_account/main.tf
  modules/storage_account/variables.tf
  storage_account/backend.tf
  storage_account/dev.tfvars
  storage_account/main.tf
  storage_account/variables.tf
Due: azure-pipelines-storage_account.yml

Fix Resource Group build status link in README.md
  README.md
Due: none

Add container_access_type to storage accounts in dev.tfvars for consistency
  storage_account/dev.tfvars
Due: azure-pipelines-storage_account.yml

Fix App Service build status badge formatting in README.md
  README.md
Due: none

Refactor storage account outputs to standardize naming and enhance structure for container names and primary access keys
  modules/storage_account/outputs.tf
  storage_account/outputs.tf
Due: azure-pipelines-storage_account.yml

Remove primary access keys output from storage account module for improved security and clarity.
  modules/storage_account/outputs.tf
  storage_account/outputs.tf
Due: azure-pipelines-storage_account.yml

Fix App Service build status badge formatting in README.md for improved clarity
  README.md
Due: none

Path conditions:
  azure-pipelines-network.yml: any of: network, modules/network
  azure-pipelines-resource_group.yml: any of: resource_group, modules/resource_group
  azure-pipelines-storage_account.yml: any of: storage_account, modules/storage_account
